<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="ecommerceEJBEAR">
        <wb-resource deploy-path="/" source-path="/EarContent" tag="defaultRootSource"/>
        <dependent-module archiveName="ecommerceEJB.jar" deploy-path="/" handle="module:/resource/ecommerceEJB/ecommerceEJB">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="ecommerceJTA.jar" deploy-path="/lib" handle="module:/resource/ecommerceJTA/ecommerceJTA">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="postgresql-9.3-1102.jdbc41.jar" deploy-path="/" handle="module:/classpath/lib/C:/EclipseJSF/bibliotecas/JDBCPostgreSQL/postgresql-9.3-1102.jdbc41.jar">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
